/** {
    border: 2px solid red;
}*/

html{
    height: 100%;
}

.odin {
    width: 100px; 
}

.opaque {
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	top: 120px;
}

.cobra {
    background: url("picture.jpeg"); 
    background-size: cover;
    background-position: center;
    min-width: 30%;
}

.form-side {
	background-color: white;
}

.form {
	column-gap: 50px;
}

#button {
	background-color: rgb(131, 151, 136);
	border-color: rgb(131, 151, 136);
}

a {
	text-decoration: none;
	color: rgb(131, 151, 136);
}

