/** {
    border: 2px solid red;
}*/

html{
    height: 100%;
}

.odin {
    width: 100px; 
}

.opaque {
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	top: 120px;
}

.cobra {
    background: url("picture.jpeg"); 
    background-size: cover;
    background-position: center;
    min-width: 200px;
    max-width: 600px;
    flex-basis: 35%;
}

.light-section {
	background-color: white;
}

.my-table {
	max-width: 546px;
	box-sizing: content-box;
}

.input {
	max-width: 248px;
}

.input:focus {
	box-shadow: 2px 2px 4px rgb(131, 151, 136);
	border-color: rgb(131, 151, 136);
}

/*input[type="text"]:invalid,*/
input:invalid {
	border-color: red;
}

/*input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="phone"]:invalid {
	border-color: red
}*/

input[type="password"]:invalid + span::after {
	font-size: .7em;
	display: block;
	content: "* Passwords do not match";
	color: red;
}


#button {
	background-color: rgb(131, 151, 136);
	border-color: rgb(131, 151, 136);
}

a {
	text-decoration: none;
	color: rgb(131, 151, 136);
}





